### General ###
.gradle
.kotlin
build

### IDEs ###
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### Mac OS ###
.DS_Store

### Koci specific ###
.registry

# Windsurf rules
.windsurfrules
.windsurf/
