name: Lint

on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    branches: [ main ]
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [ milestoned, opened, edited, synchronize ]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Checks
    permissions:
      pull-requests: read # Allows reading pull request metadata.
      contents: read  # Allows pulling repo contents.

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "zulu"
          java-version: "21"
          cache: "gradle"

      - name: Cache Gradle packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Run Spotless Check
        run: ./gradlew spotlessCheck

      - name: Run Detekt
        run: ./gradlew detekt
