name: Test
on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    branches: [ main ]
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [ milestoned, opened, edited, synchronize ]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "zulu"
          java-version: 21
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Test
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          make install-deps
          make test-all

      - if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: kotlin-test-results
          path: |
            ${{ github.workspace }}/build/reports/tests/
