name: Test
on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    branches: [ main ]
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [ milestoned, opened, edited, synchronize ]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "zulu"
          java-version: 21
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Test
        run: |
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          make install-deps
          make test-all

      - if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kotlin-test-results
          path: |
            ${{ github.workspace }}/build/reports/tests/
